In [37]:
# Import dependencies
import pandas as pd
import json
import numpy as np

In [28]:
# Load in the data
file_path = "daily_obs.csv"
daily_obs = pd.read_csv(file_path)
daily_obs.head(10)

,id,obs_date_time,observer,obs_location,sky_cover,precip_type,precip_rate,air_temp_min,air_temp_max,air_temp_current,...,rain,accumulated_precip,blowing_snow,blowing_snow_dir,frz_lvl_min,frz_lvl_max,frz_lvl_cur,sno_stl,inversion,sh_nsf_obs
0,351,2015-11-10 06:00:00,mike,Mt Roberts Tram Wx,OVC,RS,S-1,33.0,34.8,33.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,352,2015-11-11 06:00:00,mike,Mt Roberts Tram Wx,OVC,SN,S-1,29.9,33.5,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,353,2015-11-12 06:00:00,mike,Mt Roberts Tram Wx,OVC,SN,S2,29.6,32.3,31.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,354,2015-11-13 06:00:00,mike,Mt Roberts Tram Wx,OVC,SN,S2,31.6,32.4,31.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,355,2015-11-13 06:00:00,mike,Speel Arm Balcony Wx,OVC,SN,S-1,30.6,32.5,31.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,356,2015-11-13 06:00:00,mike,Snowslide Creek Wx,OVC,RA,RM,38.0,41.4,38.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,357,2015-11-14 06:00:00,mike,Speel Arm Balcony Wx,OVC,NO,NaN,31.2,33.4,32.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,358,2015-11-14 06:00:00,mike,Mt Roberts Tram Wx,OVC,SN,S1,31.6,32.4,31.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,359,2015-11-14 06:00:00,mike,Snowslide Creek Wx,OVC,RA,RL,31.2,33.4,31.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,360,2015-11-15 06:00:00,mike,Mt Roberts Tram Wx,OVC,SN,S1,28.2,31.8,28.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Check the types of data in each column
daily_obs.dtypes

id                       int64
obs_date_time           object
observer                object
obs_location            object
sky_cover               object
precip_type             object
precip_rate             object
air_temp_min           float64
air_temp_max           float64
air_temp_current       float64
snow_temp_20           float64
penetration_foot       float64
surfacepentype          object
snow_height            float64
new_snow_height        float64
swe24                  float64
new_snow_density       float64
new_snow_water         float64
wind_direction          object
wind_speed             float64
wind_gust              float64
hazard                 float64
comments                object
air_temp_trend          object
precip_intensity       float64
relative_humidity      float64
barometric_pressure    float64
barometric_trend        object
penetration_ski        float64
penetration_ram        float64
surface_snow           float64
snow_board_type         object
rain                   float64
accumulated_precip     float64
blowing_snow            object
blowing_snow_dir        object
frz_lvl_min            float64
frz_lvl_max            float64
frz_lvl_cur            float64
sno_stl                float64
inversion               object
sh_nsf_obs              object
dtype: object

In [30]:
# Check the null values of each column
daily_obs.isnull().sum()

id                        0
obs_date_time             0
observer                  0
obs_location              0
sky_cover               350
precip_type            1509
precip_rate            4039
air_temp_min           1165
air_temp_max           1163
air_temp_current       1519
snow_temp_20           6043
penetration_foot       6033
surfacepentype         5479
snow_height            1700
new_snow_height        1664
swe24                  6043
new_snow_density       6031
new_snow_water         2537
wind_direction          693
wind_speed              732
wind_gust               644
hazard                  419
comments               4765
air_temp_trend         3202
precip_intensity       6043
relative_humidity      2434
barometric_pressure    5453
barometric_trend       5817
penetration_ski        6043
penetration_ram        6043
surface_snow           6043
snow_board_type        6020
rain                   6016
accumulated_precip     3786
blowing_snow           1137
blowing_snow_dir       4767
frz_lvl_min            5086
frz_lvl_max            5092
frz_lvl_cur            5087
sno_stl                5148
inversion              5085
sh_nsf_obs             5085
dtype: int64

In [40]:
# Load the json data into a list of dictionaries
with open (f'avalanche_obs.json') as file:
    avalanche_obs = json.load(file)

In [42]:
# First five records of avalanche_obs file
avalanche_obs[:5]

[{'id': 66,
  'client_id': 15,
  'user_id': 2,
  'avalanche_atlas_id': 775,
  'json_schema_id': 34,
  'obs_date_time': '2019-01-13 15:00:00',
  'data': {'path_aspect': 'WNW',
   'est_date_time': '2019-01-13 12:00:00',
   'obs_date_time': '2019-01-13 15:00:00',
   'relative_size': 1,
   'avalanche_type': 'U',
   'destructive_size': 1,
   'avalanche_trigger': 'N'}},
 {'id': 67,
  'client_id': 15,
  'user_id': 2,
  'avalanche_atlas_id': 793,
  'json_schema_id': 34,
  'obs_date_time': '2019-02-02 14:00:00',
  'data': {'slab_width': 50,
   'path_aspect': 'WSW',
   'est_date_time': '2019-02-02 06:00:00',
   'obs_date_time': '2019-02-02 14:00:00',
   'path_location': 'top left',
   'relative_size': 1,
   'avalanche_type': 'HS',
   'path_elevation': '2700',
   'slab_thickness': 50,
   'destructive_size': 1,
   'avalanche_trigger': 'N'}},
 {'id': 68,
  'client_id': 15,
  'user_id': 2,
  'avalanche_atlas_id': 793,
  'json_schema_id': 34,
  'obs_date_time': '2019-02-08 09:00:00',
  'data': {'comments': 'observed flying over headed to Snettisham for fieldwork; moderate N winds transporting snow',
   'slab_type': 'windslab',
   'slab_width': 100,
   'weak_layer': 'new snow',
   'bed_surface': 'old snow surface',
   'path_aspect': 'WNW',
   'est_date_time': '2019-02-08 06:00:00',
   'obs_date_time': '2019-02-08 09:00:00',
   'path_location': 'bottom center',
   'relative_size': 1.5,
   'avalanche_type': 'SS',
   'path_elevation': '1800',
   'slab_thickness': 30,
   'destructive_size': 1,
   'avalanche_trigger': 'N'}},
 {'id': 69,
  'client_id': 15,
  'user_id': 3,
  'avalanche_atlas_id': 784,
  'json_schema_id': 34,
  'obs_date_time': '2019-02-28 06:00:00',
  'data': {'comments': 'Observed first by Dustin Carrol, morning of DOT daisybell mission. Slide occurred pre-mission. Slab width, vertical and elevation in feet.',
   'slab_type': 'Wind Slab',
   'slab_width': 500,
   'path_aspect': 'SW',
   'est_date_time': '2019-02-28 06:00:00',
   'obs_date_time': '2019-02-28 06:00:00',
   'path_location': 'Roberts-Gastineau Saddle',
   'relative_size': 3,
   'vertical_fall': 1400,
   'avalanche_type': 'HS',
   'path_elevation': '2800',
   'destructive_size': 2.5,
   'avalanche_trigger': 'N'}},
 {'id': 70,
  'client_id': 15,
  'user_id': 3,
  'avalanche_atlas_id': 793,
  'json_schema_id': 34,
  'obs_date_time': '2019-02-22 08:30:00',
  'data': {'comments': 'Slid at beginning of massive outflow event, possibly during storm. Observed from Douglas Breeze In. Crown disappeared within first two days of wind. Debris observed 2/26 at Gold Creek level. Slab Thickness in cm. Width, vertical and elevation in feet.',
   'slab_width': 300,
   'path_aspect': 'NW',
   'est_date_time': '2019-02-22 08:30:00',
   'obs_date_time': '2019-02-22 08:30:00',
   'path_location': 'Windward  N shoulder',
   'vertical_fall': 2000,
   'avalanche_type': 'SS',
   'path_elevation': '2400',
   'avalanche_trigger': 'N'}}]

In [77]:
# Create a DataFrame with the json file
avalanche_obs = pd.json_normalize(avalanche_obs)
avalanche_obs.head()

,id,client_id,user_id,avalanche_atlas_id,json_schema_id,obs_date_time,data.path_aspect,data.est_date_time,data.obs_date_time,data.relative_size,...,data.avalanche_trigger,data.slab_width,data.path_location,data.path_elevation,data.slab_thickness,data.comments,data.slab_type,data.weak_layer,data.bed_surface,data.vertical_fall
0,66,15,2,775,34,2019-01-13 15:00:00,WNW,2019-01-13 12:00:00,2019-01-13 15:00:00,1.0,...,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,67,15,2,793,34,2019-02-02 14:00:00,WSW,2019-02-02 06:00:00,2019-02-02 14:00:00,1.0,...,N,50.0,top left,2700,50.0,NaN,NaN,NaN,NaN,NaN
2,68,15,2,793,34,2019-02-08 09:00:00,WNW,2019-02-08 06:00:00,2019-02-08 09:00:00,1.5,...,N,100.0,bottom center,1800,30.0,observed flying over headed to Snettisham for ...,windslab,new snow,old snow surface,NaN
3,69,15,3,784,34,2019-02-28 06:00:00,SW,2019-02-28 06:00:00,2019-02-28 06:00:00,3.0,...,N,500.0,Roberts-Gastineau Saddle,2800,NaN,"Observed first by Dustin Carrol, morning of DO...",Wind Slab,NaN,NaN,1400.0
4,70,15,3,793,34,2019-02-22 08:30:00,NW,2019-02-22 08:30:00,2019-02-22 08:30:00,NaN,...,N,300.0,Windward N shoulder,2400,NaN,"Slid at beginning of massive outflow event, po...",NaN,NaN,NaN,2000.0

In [82]:
# Save DataFrame as CSV file
avalanche_obs.to_csv("avalanche_obs.csv")

In [86]:
# Load the avalanche_atlas into a list of dictionaries
with open (f'avalanche_atlas.json') as file:
    avalanche_atlas = json.load(file)

In [87]:
# Create DataFrame with avalanche_atlas.json file
avalanche_atlas = pd.json_normalize(avalanche_atlas)
avalanche_atlas.head()

,id,client_id,location_id,json_schema_id,full_name,short_name,data.zone,data.aspect,data.location,data.full_name,...,data.vertical_fall,data.short_name,data.angle_start,data.sig_history,data.area_affected,data.descript_start,data.descript_track,data.descript_runout,data.primary_avy_type,data.comments
0,956,15,924.0,15,2nd Bowl,nan,Douglas Island,NE,Fish Creek,2nd Bowl,...,1100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,917,15,885.0,15,2nd Meadow False Troy,nan,Douglas Island,E,Moller,2nd Meadow False Troy,...,1450.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,785,15,760.0,15,2nd to Last Chance,T018,Mt Juneau,S,Perseverance,2nd to Last Chance,...,1100.0,T018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,889,15,857.0,15,AC Coms Safety Line,A-0,Douglas Island,NaN,Eaglecrest,AC Coms Safety Line,...,NaN,A-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,867,15,835.0,15,Anderson Boat,nan,Douglas Island,SW,Fish Creek,Anderson Boat,...,1600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
# Save DataFrame as CSV file
avalanche_atlas.to_csv("avalanche_atlas.csv")

In [96]:
# Load the location JSON file into a list of dictionaries
with open (f'location.json') as file:
    location = json.load(file)

In [97]:
# Create DataFrame with location.json file
location = pd.json_normalize(location)
location.head()

,id,name,description,date_created,date_updated,geometry.type,geometry.coordinates
0,751,avalanche_atlas,None,2019-02-13 18:09:58,2019-02-13 18:09:58,Polygon,"[[[-134.375133312, 58.283194983], [-134.372804..."
1,752,avalanche_atlas,None,2019-10-29 16:00:27,2019-10-29 16:00:27,Polygon,"[[[-134.3873343397654, 58.29662048345916], [-1..."
2,753,avalanche_atlas,None,2019-10-29 16:05:05,2019-10-29 16:05:05,Polygon,"[[[-134.3846211950348, 58.29585962894159], [-1..."
3,754,avalanche_atlas,None,2019-10-29 16:14:05,2019-10-29 16:14:05,Polygon,"[[[-134.3742712684019, 58.29363179604764], [-1..."
4,755,avalanche_atlas,None,2019-10-29 16:29:19,2019-10-29 16:29:19,Polygon,"[[[-134.3700687130602, 58.2924489453321], [-13..."

In [98]:
# Save DataFrame as CSV file
location.to_csv("location.csv")